.header-link
  cursor pointer

.content
  padding 32px

.example-card
  max-width 800px

mat-card-actions
  padding 0
  margin 0

mat-card-content
  padding-top 16px

.example-full-width
  width 90%

mat-form-field
  max-width 45%
