<header>
  <mat-toolbar fxLayoutAlign="space-between center">
    <span routerLink="/home" class="header-link">Lifesaver</span>
  </mat-toolbar>
</header>
<div class="content">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          name surname
        </mat-panel-title>
        <mat-panel-description>
          location - email
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="user-info" fxLayout="row" fxLayoutAlign="start start">
        <div fxLayout="column" fxLayoutGap="16px">
          <div fxLayout="row" fxLayoutGap="8px">
            <mat-form-field><input matInput placeholder="First Name" value="name"></mat-form-field>
            <mat-form-field><input matInput placeholder="Last Name" value="surname"></mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="8px">
            <mat-form-field><input matInput placeholder="Phone Number" value="phone_no"></mat-form-field>
            <mat-form-field><input matInput placeholder="Mobile Number" value="mobile_no"></mat-form-field>
          </div>
        </div>
        <div>
          <textarea matInput placeholder="Their Story">story</textarea>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
