.option
  height 891px
  font-size 32px
  transition: font-size 0.5s ease
  cursor pointer
  &:hover
    font-size 48px
  &.needy
    background-color #ffdfba
  &.restaurant
    background-color #ffffba
  &.giver
    background-color #baffc9
